transportapi-experience-mobile_(1)/target/classes/schdules.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="schdulesFlow" doc:id="e63a9cb1-2fda-4b37-8ffb-e54f05e6e31f" >
		<http:request method="GET" doc:name="Request" doc:id="a82c95ae-07f8-425f-af50-28ce054ee29c" config-ref="HTTP_Request_configuration" path="/api/bookings/{transportType}/schudule">
			<http:headers ><![CDATA[#[output application/java
---
{
	"transactionId" : attributes.headers.transactionId
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"transportCompany" : attributes.queryParams.companyName default "travelontrip",
	"transportType" : attributes.uriParams.transportType
}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"departureLocationCode" : attributes.queryParams.depatureLocationcode,
	"destinationLocationCode" : attributes.queryParams.destinationLocationcode
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="b13ad81d-cc2a-4013-91dd-694617fb123b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
