transportapi-experience-web_(1)/src/main/mule/schudule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="schuduleFlow" doc:id="7a91c453-1cc0-462c-8ba5-451012f83eba" >
		<http:request method="GET" doc:name="Request" doc:id="1b822b38-6f59-4392-aeb5-19812ebd4d63" config-ref="HTTP_Request_configuration" path="/api/bookings/{transportType}/schudule">
			<http:headers ><![CDATA[#[output application/java
---
{
	"transactionId" : attributes.headers.transactionId
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"transportCompany" : attributes.queryParams.companyName default "travelontrip",
	"transportType" : attributes.uriParams.transportTypes
}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"departureLocationCode" : attributes.queryParams.depatureLocationcode,
	"destinationLocationCode" : attributes.queryParams.destinationLocationcode
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="d9f5f41d-5fef-4a5e-b5ea-b232b2de5cac" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
