transportapi-processlayer/src/main/mule/dataconfig.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="dataconfigFlow" doc:id="4f8cc983-7c72-44eb-b7d3-7dc2688c0ae1" >
		<scatter-gather doc:name="Scatter-Gather" doc:id="c027d9e1-ce68-4457-bb75-1e8ea7b34556" >
			<route >
				<http:request method="GET" doc:name="TravelonTripRequest" doc:id="80ef0a62-a89a-4611-9a5b-8c159b1657d5" path="/api/{transportType}/{transportCompany}/routes" config-ref="Travelontrip_HTTP_Request_configuration">
					<http:headers ><![CDATA[#[output application/java
---
{
	"transactionId" : attributes.headers.transactionId
}]]]></http:headers>
					<http:uri-params ><![CDATA[#[output application/java
---
{
	"transportCompany" : attributes.queryParams.companyName default "travelontrip",
	"transportType" : attributes.uriParams.transportType
}]]]></http:uri-params>
					<http:query-params ><![CDATA[#["depatureLocationcode": attributes.queryParams.depatureLocationcode]]]></http:query-params>
				</http:request>
				<ee:transform doc:name="Transform Message" doc:id="f186e5ab-cf41-4be7-8013-ec86273ebacd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</route>
			<route >
				<http:request method="GET" doc:name="FastGoRequest" doc:id="b9da9f13-ba18-462a-bdc0-4f829f22596a" path="/api/{transportType}/{transportCompany}/routes" config-ref="Fastgo_HTTP_Request_configuration">
					<http:headers ><![CDATA[#[output application/java
---
{
	"transactionId" : attributes.headers.transactionId
}]]]></http:headers>
					<http:uri-params ><![CDATA[#[output application/java
---
{
	"transportCompany" : attributes.queryParams.companyName default "fastgo",
	"transportType" : attributes.uriParams.transportType
}]]]></http:uri-params>
					<http:query-params ><![CDATA[#[output application/java
---
{
	"depatureLocationcode" : attributes.queryParams.depatureLocationcode,
	"destinationLocationcode": attributes.queryParams.destinationLocationcode
}]]]></http:query-params>
				</http:request>
				<ee:transform doc:name="Transform Message" doc:id="4e2674c7-af21-4c33-a4a5-39d5a28369ae">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="ec32ae4c-6eaa-4c4c-8fe6-740ce74b496c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload..payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
