transportapi-experience-web_(1)/target/classes/routes.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="routesFlow" doc:id="af191522-2443-4dc4-8484-58dd36faf2cb" >
		<http:request method="GET" doc:name="Request" doc:id="28564e5a-1c8f-46b2-b283-d1dfdd2daa62" config-ref="HTTP_Request_configuration" path="/api/bookings/{transportType}/routes">
			<http:headers ><![CDATA[#[output application/java
---
{
	"transactionId" : attributes.headers.transactionId
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"transportCompany" : attributes.queryParams.companyName default "travelontrip",
	"transportType" : attributes.uriParams.transportTypes
}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"departureLocationCode" : attributes.queryParams.departureLocationCode,
	"destinationLocationCode" : attributes.queryParams.destinationLocationCode
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="269973ec-1932-41e8-8c78-9d3d92c9aaf0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
